*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# IntelliJ pack
.idea/
*.iml

# Gradle pack
.gradle/

# Build pack

build/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# explicit include
!gradle/wrapper/gradle-wrapper.jar
local.properties
